@import '../../colors.scss';

.movies{
    display:grid;
    grid-template: repeat(4,auto) / repeat(5,1fr);
    background-color: $darkest;
    padding-top:3em;
    align-items:center;
    align-self: center;
    text-align: center;
}